/* ---------import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Roboto:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,600;0,700;0,900;1,700&family=Open+Sans:wght@400;401&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap");


@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Montserrat:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,700;1,900&family=Open+Sans:wght@400;401&family=Poppins:wght@600&family=Roboto:wght@500&family=Sansita+Swashed:wght@500&display=swap');


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Verdana;
}

body{

    background-color: #F8F8FA;
   
    
}


.container {
    background-color: #4618FE;
    height: auto;
}


a {
	text-decoration: none;
}

header {
	
	padding: 20px;
	color: #000;
}

.logo{
    margin-left: 0px;
}

header a {
	color: #ffffff;
    font-weight: 600;
    font-family: montserrat;
    font-size: 18px;
    
}
#toggle {
	display: none;
}

div .icon{
    display: block !important;
}

#toggle:checked + .nav-links {
	display: block;
}
.head{
    display: flex;
    justify-content: space-between;
}


header .nav-links {
	display: none;
}

header label {
	cursor: pointer;
	position: relative;
}

header .nav-links {
	display: none;
}


.nav-links li a:hover{
    color: #e34e0f;
    font-weight: 900;
    font-family: montserrat;
    font-size: 18px;
}

.icon {
	width: 30px;
}
.icon div {
	height: 3px;
	background: red;
	margin: 3px 0;
}





.nav-links {
	list-style: none;
    margin-right: 100px;
}

.nav-links li {
	padding: 20px 0;
}

.nav-links li:nth-child(1) {
	padding-top: 40px;
}



.nav-btn{
 
   
    background-image: #fff;
    font-family: montserrat;
    font-size: 14px;
    font-weight: 600;
    color: #441bac;
    border: none;
    padding: 6px 20px;
   border-radius: 8px;
   cursor: pointer;
    
}

.nv-img{
    
    position: relative;
    top: -68px;
    left: 100px;

}


/* Nav - content*/

.nv-content{
    display: inline-block;
    margin-top: 50px;
    margin-left: 30px;
}

.header-text{
    margin-top: 30px;
}
.header-text h2{
    margin-top: 10px;
    font-family: montserrat;
    font-size: 24px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 500;
}

.header-text p{
    margin-top: 10px;
    font-family: montserrat;
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
}

.header-image {
    position: relative;
    float: right;
    right: -3px;
    width: 450px;
    height: auto;
    margin-top: 10px;
}


/* companies classes */

.companies {
     margin-top: 10px;
     margin-left: 50px;
}


.company-items {

    margin-right: 26px;
    font-family: montserrat;
    font-size: 14px;
    color: #000000;
    font-weight: 900;
}


/* Api by category  */

.api {
    margin-top: 60px;
    margin-left: 30px;
}

.cards{
    margin-top: 60px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-right: 10px;
    padding: 35px 30px;
    
}

.card-head-active{
    color: #5A31FC;
    font-family: montserrat;
    font-size: 23px;
    margin-top: 15px;
    
  }

  .card-head{
    font-family: montserrat;
    font-size: 23px;
    margin-top: 15px;
  }

  .card-active {
    background-color: #ffffff;
    padding: 35px 30px;
    border-radius: 10px;
    margin-right: 10px;
    
  }

  .card-body{
    color: #000000;
    font-family: montserrat;
    font-size: 14px;
    margin-top: 5px;
  }


 
  /*  Blog section */

  .blog-heading{
    display: flex;
    
    margin-top: 100px;
    margin-left: 50px;
  }

  .blog-heading a {
    text-decoration: none;
    color: #5A31FC;
    font-weight: 600;
    font-family: montserrat;
    font-size: 18px;

    
  }

  .blog-head-item h1 {
    
    font-weight: 600;
    font-family: montserrat;
    font-size: 24px;
  }

  .blog-head-item1{
    margin-top: 35px;
    margin-left: 100px;
  }


  /* <!-- Blog card 01 --> */

  .blog-cards {
    display: flex;
    margin-left: 30px;
    margin-bottom: 100px;
    flex-wrap: wrap;
  }

  .blog-card
  {
    display: flex;
    background-color: #ffffff;
    border-radius: 8px;
    margin-right: 100px;
    margin-top: 60px;
    margin-left: 10px;
    
  }

  .img-blog {
    width: 200px;
    height: 314px;
    position: relative;
    left: -10px;
  }

  .blog-content {
    width: 150px;
  }

  .blog-content h6 {
    color: #5A31FC;
    font-weight: 600;
    font-family: montserrat;
    font-size: 13px;
  }

  .blog-content h3 {
    color: #000000;
    font-weight: 700;
    font-family: montserrat;
    font-size: 14px;
    margin-top: 10px;
  }

  .blog-content small {
    color: #000000;
    font-weight: 400;
    font-family: Montserrat;
    font-size: 10px;

    
    
  }

  .small{ 
    position: relative;
    top: 20px;
  }


  .blog-content {
    margin: 30px;
    
  }
  
  .silver-dot {
    display: flex;
    position: relative;
    top: 60px;
  }

  .blog-author{
    position: relative;
    top: 5px;
    left: 3px;
    color: #000000;
    font-weight: 600;
    font-family: Montserrat;
    font-size: 12px;
    line-height: 12px;
  }

  /* <!-- FAQ SECTION --> */

  .faq-section {
    background-color: #E9EDFF;
    display: flex;
    margin-bottom: 10px;
  }

  .faq-content{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .faq-content>h2{
    font-family: Montserrat;
    color: #000000;
    font-size: 18px;
    font-weight: 700;
   
  }
  .faq-content>h3{
    font-family: Montserrat;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
   
  }
  
  .faq-content>h4{
    font-family: Montserrat;
    color: #000000;
    font-size: 10px;
    font-weight: 400;
    margin-top: 10px;
   
  }

  .btn-faq{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #5A31FC;
    padding: 0.5em 2em;
    font-family: Montserrat;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
  }

  .faq-image{
    position: relative;
    top: 0px;
    left: 0px;
    
    float: left;
    
  }

  .faq-img{
    width: 200px;
    height: 215px;
  }


  /* <!-- Download --> */


  .download-section{
    display: inline-block;
    height: 300px;
    margin-left: 30px;
  }
  
  .download-content{
    margin-top: 30px;
    margin-right:0px;
    width: 450px;
  }

  .download-content>h1{
    font-family: Montserrat;
    color: #000000;
    font-size: 38px;
    font-weight: 900;
  }
  
  .span{
    font-family: Montserrat;
    color: #000000;
    
    font-weight: 400;
  }

  .download-email{
    margin-top: 30px;
    margin-left: 0px;
  }
  
  .download-email>form>input{
  
    padding: 20px 0px 20px 30px;
    width: 420px;
    height: 65px;
    background-color: #E9EDFF;
    color: #000000;
    border-radius: 32px;
    border: none;
    
  
  }
  
  .download-email>form>button{
  
    background-color: #5A31FC;
    padding: 18px 30px 18px 30px;
    text-align: center;
    border-radius: 32px;
    border: none;
    color: #ffffff;
    width: 200px;
    margin-left: -208px;
    
  
    font-family: Montserrat;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  
  
  }

  /*  <!-- footer --> */

  .footer-section{
    background-color: #4618FE;
  display: inline-block;
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  }


  
.footer-left{
    margin-top: 50px;
    margin-left: 30px;
  
  }
  
  .list{
    display: inline-block;
    flex-wrap: wrap;
    list-style: none;
    margin-left: 0px;
    margin-top: 10px;
    width: 420px;
    
  }
  
  .list-items{
    margin-right: 20px;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 50px;
    
  }
  
  .border{
    border: none;
  }

  .border1{
    border-left: 1px solid #ffffff;
    padding-left: 30px;
  }
  
  
  
  .footer-right{
   margin-top: 100px;
  margin-left: 30px;
  }
  
  .footer-right1{
    margin-right: 30px;
  }

  .footer-logos{
    margin-right: 20px;
    width: 50px;
  }
  
  .logos-list{
    display: flex;
    list-style: none;
    
    margin-right: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  